<ion-view>
  <ion-content>
    <div style="height: 480px">

      <div id="map" data-tap-disabled="true"></div>

    </div>

    <div class="buffer" style="background-color: transparent; height: 7%; margin-top:-7%"></div>

    <div ng-hide="true">
      <form name="event" ng-model="event" ng-submit="addNewEvent(event)">
      <label class="item item-input event">

        <input class="eventInput" type="text" ng-model='event.title' placeholder="Where you at??">
      </label>

      <button class="button button-block addNewEvent" type="submit">
        <h2>Start Event</h2>
      </button>
      </form>
    </div>

    <div>

      <div class="going">
        <div class="row">
          <div class="col-20">
            <img class="avatar" src="{{face}}">
          </div>
          <div class="col-67">
            <p>{{name}}</p>
            <h2>Meet Up at {{event.title}}</h2>
            <i class="ion-ios-person" style="font-size: 50px; color:#ffffff">{{goers}}</i>
          </div>
        </div>


        <br>
        <br>
      </div>
    </div>




  </ion-content>
</ion-view>
