<ion-view>
  <ion-content>
    <div style="height: 380px">
      <div id="map" data-tap-disabled="true"></div>
    </div>

    <!--<div class="buffer" style="background-color: transparent; height: 7%; margin-top:-7%"></div>-->
    <div class="meetUp">
      <img class="gravatar" src="../img/adam.jpg">
      <p>Brian Best</p>
      <h2>Meet Up at {{}}</h2>
      <br>
      <br>
    </div>

    <button class="button button-block joinButton" ng-click="joinEvent()">
      <h2>Go to this</h2>
    </button>


  </ion-content>
</ion-view>
