<!--hide the nav bar for Login page-->
<ion-view hide-nav-bar="true">

<ion-view view-title="Login">
  <ion-content style="background-color: #33373B">

    <div class="login-header">
      <img class="title" src="img/doorbell-01.jpg">
      <h2 class="subtitle">The modern doorbell</h2>
    </div>
    <div class="login-button">
      <button class="button button-block socialButton" ng-click="emailLogin()">
        Login with Email
      </button>
    </div>





    <!--<ion-list>-->
      <!--<ion-toggle  ng-model="settings.enableFriends">-->
        <!--Enable Friends-->
      <!--</ion-toggle>-->
    <!--</ion-list>-->
  </ion-content>
</ion-view>
