
.scroll {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

ion-view.pane ion-content{
  padding: 0;
}
.bar.bar-stable{
  background-color: #33373B;
}
.icon {
  width: 30px;
}
.button-block.socialButton{
  font-family: Roboto;
  background-color: #72C4C0;
  border:none;
  position: fixed;
  height: 30%;
  /*bottom: 10px;*/
}

.button-block.joinButton {
  background-color: #72C4C0;
  border:none;
  position: fixed;
  height: 20%;
}

img.title {
  width: 60%;
  margin-top: 40%;
}

img.gravatar {
  margin-top: -7%;
  margin-left: 40%;
  width: 80px;
  border-radius: 50%;
  border: 1px #ffffff solid;
  margin-bottom: 1%;
  position:relative;
}

h2 {
  font-family: Roboto;
  font-size: 28px;
  color: #ffffff;
  text-align: center;

}
.subtitle {
  font-family: Roboto;
  margin-top: -5%;
  margin-bottom: 40%;
}

.meetUp {
  font-family: Roboto;
  background-color: #E37341;
  margin-bottom: -2%;
}

p {
  font-family: Roboto;
  color:#ffffff;
  font-size: 18px;
  text-align: center;
}


